<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>employ details</title>
</head>
<body>
   <ul>
      <li>
          <a href="/emp/per/eoo1">Eoo1</a>
      </li>
      <li>
            <a href="/emp/per/eoo2">Eoo2</a>
        </li>
        <li>
                <a href="/emp/per/eoo3">Eoo3</a>
            </li>
            <li>
                    <a href="/emp/per/eoo4">Eoo4</a>
                </li>
   </ul>
</body>
</html>